body {
    background-color: rgb(245, 245, 245);
    color: rgb(44, 44, 44)
}

.login-form-container {
    width: 400px;
}

.welcome {
    margin: 40px 0 30px 0;
}

.welcome span {
    display: block;
}

.kc-input {
    display: block;
    width: 100%;
    border-radius: 35px;
    border: solid 2px rgb(220, 220, 220);
    margin: 14px 0;
    padding: 12px;
    padding-left: 40px;
    outline: none;
}

.username {
    background: url('imgs/user.svg') no-repeat 4px 50%;
    background-size: 35px;
}

.password {
    background: url('imgs/password.svg') no-repeat 4px 50%;
    background-size: 35px;
}

.submit-button {
    display: block;
    width: 100%;
    border-radius: 35px;
    border: none;
    background-color: rgb(241, 128, 62);
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 5px;
    padding-left: 12px;
    margin-top: 40px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
    background-color: rgb(208, 87, 15);
}

.kc-table {
    border-top: rgb(237, 127, 61) solid 16px;
}

.logout-section {
    background-color: rgb(232, 232, 232);
    padding: 10px;
}

.logout-link {
    color: black
}